.milestone-container {
    width: 100vw;
    height: 90vh;
    background-image: url('../images/backgrounds/milestone_container_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.milestone-container::before {
    content: "";
    position: absolute;
    /* Change to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(249, 189, 39, 0.8);
    /* Background color with opacity */
    z-index: 4;

    animation-name: fadeIn;
    /* Reference the animation keyframes */
    animation-duration: 1s;
    /* Duration of the animation */
    animation-timing-function: ease-in-out;
    /* Timing function for smooth animation */
    animation-fill-mode: forwards;
    /* Keeps the final state of the animation */
    opacity: 0;
    /* Start with 0 opacity (invisible) */
}

.milestone-content-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    padding-top: 2vh;

    width: 80%;
    height: 70vh;

    background-image: url('../images/backgrounds/milestone_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* Position the background image at the top */
    /* Other styles for your div */

    position: relative;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 1rem 1rem 0px rgba(0, 0, 0, 0.2);

    font-family: 'Omnes-Bold';
    color: #88D758;


    overflow: visible;
}

.milestone-text-section {
    padding: 1rem;

    max-height: 40%;
    height: max-content;
    text-align: center;
}

.milestone-text-section-awesome {
    padding: 1rem;

    max-height: 30%;
    height: max-content;
    text-align: center;
}

.milestone-text-section h2,
.milestone-text-section-awesome h2 {
    font-size: 4.5rem;
    line-height: 110%;
}

.milestone-text-section h3 {
    font-size: 3.8rem;
}

.milestone-claim-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: max-content;
    height: 18%;
    min-height: min-content;
    width: 80%;

    font-size: 1.75rem;
    text-align: center;
}

.milestone-claim-section p {
    line-height: 130%;
}

.milestone-claim-section-awesome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: max-content;
    height: 26%;
    min-height: min-content;
    width: 80%;

    font-size: 1.75rem;
    text-align: center;

    gap: 0.25rem;
}

.milestone-claim-section-awesome p {
    line-height: 130%;
}

.milestone-img-section {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: space-around;

    position: relative;
    left: 0;
    bottom: -6%;
}

#npc1,
#npc2 {
    animation-name: hover;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#npc1 {
    position: relative;
    left: 10%;
    bottom: 0;
}

#npc2 {
    position: relative;
    left: -10%;
    bottom: 0;
}

#treasure {
    position: relative;
    left: 0;
    bottom: -3%;
}

.milestone-btn {
    font-family: 'Omnes-Bold', sans-serif;
    font-size: 2rem;
    color: white;
    max-height: 4.5rem;
    padding: 0.5rem;
    width: 18rem;
    border-color: transparent;
    background-color: #859CFF;
    border-radius: 20px;
    border-bottom: 8px solid #7187E4;

    transition: background-color 0.4s;
}


.milestone-btn:hover {
    background-color: #9CAFFF;
    cursor: pointer;
}